<div class="container w-50 p-5 bg-dark text-white text-center">
    <h1 class="mb-5">Homepage</h1>

    <a href="/api/form"><button class="btn btn-primary"> Register a product</button></a>
    <a href="/api/list-product"><button class="btn btn-success text-white"> Product's list</button></a>
</div>